<div class="acceptCancelPopup" id="acceptCancelPopup">    

    <div class="acceptCancelContent">

        <div class="divClosePopup">
            <div class="acceptCancelClosePopup" id="acceptCancelClose">X</div>
        </div>

        <div class="titleS" id="acceptEditTitle"></div>
        
        <div class="divAcceptCancelInputs">

            <div class="divInput">
                <label for="editItemFob" class="label">Precio por UM</label>
                <input type="text" name="editItemFob" class="input1 M" id="editItemFob">
                <div class="divError M" id="editItemFobErrorText"></div>
            </div>

            <div class="divInput">
                <label for="editItemFob" class="label">Cantidad</label>
                <input type="text" name="editItemFob" class="input1 M" id="editItemQty">
                <div class="divError M" id="editItemQtyErrorText"></div>
            </div>

        </div>

        <div class="divButtonsRow">
            <div class="button1 sButton" id="acceptEdit">Aceptar</div>
            <div class="button1 sButton" id="cancelEdit">Cancelar</div>
        </div>

    </div>

    

</div>