
<div class="alertPopup" id="alertPopup">

    <div class="divAlertText">
        <i class="fa-solid fa-triangle-exclamation alertIcon"></i>
        <div class="alertText" id="alertText"></div>
    </div>
    
    <div class="divButtonsRow">
        <div id="acceptAlertButton" class="button1 yellowButton sButton">
            Aceptar 
        </div>
    </div>

</div>
