
<div class="infoPopup" id="infoPopup">

    <div class="divInfoText">
        <i class="fa-solid fa-triangle-exclamation infoIcon"></i>
        <div class="infoText" id="infoText"><div>Se registraron cambios en la OC luego de recibida.</div><div>Es necesario volver a aceptar la recepción para que se registren dichos cambios.</div></div>
    </div>

</div>
