<div class="yesNoPopup" id="showPricesPopup">
    <div class="yesNoContent">
        <div class="yesNoClosePopup" id="yesNoClosePopup">X</div>

        <div class="divYesNoText">
            <i class="fa-regular fa-circle-question yesNoIcon"></i>
            <div class="yesNoText" id="yesNoText"></div>
        </div>        
        
        <div class="divButtonsRow">
            <div id="yesButton" class="button1 sButton">Sí</div>
            <div id="noButton" class="button1 sButton">No</div>
        </div>
    </div>
</div>