:root{
    --color1:#15A89D;
    --color2: #F5F5F5;
    --color3: #efeded;
}

.divBody1{
    position: absolute;
    left:200px;
    width: calc(100vw - 200px)
}

.divBody2{
    position: absolute;
    left:200px;
    width: calc(98vw - 200px)
}

@media (max-width:400px){
    .divBody1{
        position: static;
        width: 100%;
    }
}