:root{
    --color1:#15A89D;
    --color2: #F5F5F5;
    --color3:#d7dcdc;
    --color4:white;
    --color5:#787878;
    --color6:rgb(91, 90, 90);
    --color7: rgb(148,198,195);
    --fontSize:14px;
}

.divButtonsRow{
    display: flex;
    column-gap: 7px;
    justify-content: center;
    margin-top: 20px;
}

.divButtonsColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;
}

.button1{
    background-color: var(--color1);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border: none;
    font-size: 13px;
    color: var(--color4);
    border: var(--color1) solid 2px;
}

.yellowButton{
    background-color: grey;
    border: grey solid 2px;
}

.sButton{
    width: 60px;
    padding: 3px;
    font-size: 12px;
}/*small button*/

.mButton{
    width: 85px;
    padding: 4px;
    font-size: 13px;
}/*medium button*/

.lButton{
    width: 100px;
    padding: 6px;
    font-size: 14px;
}/*large button*/

.xlButton{
    width: 150px;
    padding: 6px;
    font-size: 14px;
}/*xlarge button*/

.button1:hover{
    background-color: var(--color4);
    color: var(--color1);
}

.button2:hover{
    background-color:black
}

.yellowButton:hover{
    background-color: white;
    color: grey
}

.submitButton{
    background-color: transparent;
    border: none;
    color:var(--color4) ;
    font-weight: bold;
}

.submitButton:hover{
    background-color: var(--color4);
    color: var(--color1);
}

/*----------popups buttons----------*/
/*---acceptCancel---*/
.acceptCancelButton{    
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 70px;
    font-size: 12px;
    padding: 5px;
    color: var(--color4);
    font-weight: bold;
}
.acceptButton{
    background-color:green;
}
.cancelButton{
    background-color: rgb(249, 5, 5);
}
.acceptButton:hover{
    background-color:rgb(2, 85, 2);
}
.cancelButton:hover{
    background-color: rgb(159, 5, 5);
}