/*-------Generals-------*/
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

input, select, textarea{
    outline:none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}/*Hide arrows from input type number*/

input[type="checkbox"]:checked {
    accent-color: black
}

input[type="radio"]:checked {
accent-color: black
}

a{
    text-decoration: none;
    color:black
}