/*---------------------loader---------------------*/
.loader {
    border: 10px solid var(--color1);
    border-radius: 50%;
    border-top: 10px solid var(--color2);
    width: 40px;
    height: 40px;
    animation: spin 3s linear infinite;
    display: none;
    position: absolute;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*------------LOADERS POSITION------------*/
#volumeFactorsLoader {
    top: 55%;
    left: calc(50vw - 20px);
}

#coeficientFactorsLoader {
    top: 40%;
    left: calc(50vw - 20px);
}