:root{
    --color1:#15A89D;
    --color2: #F5F5F5;
    --color3:#d7dcdc;
    --color4:white;
    --color5:#787878;
    --color6:rgb(91, 90, 90);
    --color7: rgb(148,198,195);
    --fontSize:14px;
}

/*--------login.ejs--------*/
.userData{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 80px;
    overflow-y: auto;
}

/*------selectBrunch.ejs------*/
.divBrunches{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    overflow-y: auto;
    margin-top: 80px;
}

.divBrunch{
    width: 300px;
    padding: 15px;
    background-color: var(--color1);
    color:var(--color2);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.divBrunch:hover{
    background-color: var(--color7);
}

.brunchLogo{
    height: 20px;
}

/*--------currencies.ejs--------*/
.currencyTable{
    margin-top: 30px;
    overflow-y: auto;
}

/*--------imports.ejs--------*/
.actionRequired{
    color:red;
    font-weight: bold !important
}

.receiveStatus{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.questionIcon{
    cursor: pointer;
}

/*--------pricesLists.ejs--------*/
.divPricesList{
    width: fit-content;
    display: none;
    flex-direction: column;
    row-gap: 5px;
    margin: auto;
}

.divPricesListActions{
    display: flex;
    column-gap: 8px;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: -20px;
  }
  
  .pricesListAction{
    border: var(--color1) solid 2px;
    font-size: 15px;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    color:var(--color1);
    cursor: pointer;
  }

  .pricesListAction:hover{
    background-color: var(--color1);
    color: var(--color2);
  }

  .divListNotFound{
    margin-top: 5%;
  }

  .textListNotFound{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .notFoundIcon{
    color: grey;
    font-size: 35px;
  }

  .notFoundText{
    color: grey;
    width: 300px;
    text-align: center;
  }

  .uploadFirstList{
    display: flex;
    column-gap: 5px;
    margin-top: 10px;
    border: var(--color1) solid 2px;
    color: var(--color1);
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
  }

  .uploadFirstList:hover{
    color: var(--color4);
    background-color: var(--color1);
  }

  .newListPopup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.newListPopupVisible{
    display: block;
}

.newListPopupNotVisible{
    display: none;
}

.newListContent {
    margin: 15% auto;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    font-size: 13px;
    background-color: white;
    position: relative;
}

.newListPopupTitle{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.newListPopupSubtitle{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.inputUploadFile{
    margin: auto;
    display: block;
}

.inputFileAndError{
    width: 300px;
    margin: auto;
}

.plPopupContent{
    margin-top: 20px;
}

.plDivButtons{
    margin-top: 0px ;
}

.plClosePopup{
    margin-bottom: 0px;
}

.deleteItemText{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;

}

/*--------changePassword.ejs--------*/
.divInputsChangePsw{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding-top: 15px;
}

/*--------importHistory.ejs--------*/
.divStatistics{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    height: 95%;
}


.divStatistic{
    width: 45%;
    background-color: var(--color2);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgb(147, 146, 146)
}




































/*------pricesLists------*/
.divFormPriceList{
    margin-top: 20px;
}

.divAlertMessage{
    display: flex;
    justify-content: center;
    font-size: 12px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    background-color: #e4c6c6;
    padding: 10px;
}

.textAlert{
    text-align: center;    
}

.iAlert{
    font-size: 18px;
    color: rgb(163, 4, 4);
}

.divActions{
    display: flex;
    justify-content: right;
    column-gap: 10px;
    margin-bottom: 7px;
    font-size: 12px;
    margin-right: 10px;
}

.iAction:hover{
    cursor:pointer;
    color: #15A89D;

}



/*------createPo------*/
.poData{
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

.divPoData{
    font-size: 12px;
    margin-top: 10px;
    padding: 5px;
    border-right: black solid 1px;
}

.firstPoData{
    border-left: black solid 1px;
}

.poTotalData{
    margin-bottom: -15px;
}

.divActionsCreatePo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    column-gap: 5px;
}

.divActionCreatePo{
    color:#efeded;
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#15A89D;
    border-radius: 15px;
    width: 50px;
}

.divActionCreatePo:hover{
    background-color: #efeded;
    color:#15A89D
}

.saveDisk{
    cursor: pointer;
    font-size: 13px;
    font-weight: regular;
}

.pencilEdit{
    font-size: 9px;
    position: absolute;
    left: 38px;
    top:2px;
    cursor: pointer;
}

.pencilEdit2{
    font-size: 9px;
    position: absolute;
    left: 36px;
    top:2px;
    cursor: pointer;
}

.pencilEdit:hover,.pencilEdit2:hover{
    color:#15A89D;
}

.divQuantity{
    position: relative;
}

/*------purchaseOrderPdf------*/

.poBody{
    margin-top: 20px;
}

.purchaseOrderHeader{
    position: relative;
    background-color:rgb(244,244,244);
    padding: 8px;
    margin-top: 25px;

}

.poDatas{
    position: absolute;
    height: 60px;
    top: 8px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    
}

.poLogo{
    position: absolute;
    left: 30px;
}

.poDataTitle{
    font-size: 12px;
    font-weight: bold;
}

.poData{
    font-size: 12px;
}

.poTitle{
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poCompanyLogo{
    height: 60px;
}

.poNumber,.poDate{
    display: flex;
    column-gap: 8px;
}

.divPoDataPdf{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.divBrunchData{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 40px 250px;
    grid-template-rows: auto auto;
    grid-gap: 5px;
    padding: 10px;
}

.divFrom{
    font-size: 12px;
    font-weight: bold;
    grid-row: span 2;
    text-align: right;
    padding-right: 5px;
}

.brunchName{
    font-size: 15px;
    font-weight: bold;
}

.brunchAddress{
    font-size: 12px;
}

.divExtendedData{
    margin-top: 3px;
    display: flex;
    justify-content: right;
    column-gap: 10px;
    align-items: center;
    padding: 3px;
}

.extendedDataTitle{
    font-size: 12px;
    font-weight: bold;
    width: 100px;
}

.extendedData{
    font-size: 12px;
    width: 100px;
    text-align: right;
}

.addMargin{
    margin-top: 15px;
}

/*---create country---*/
.divInputCreateCountry{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-top: 25px;
}

/*---imports---*/
.divFilters{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    margin-bottom: 25px;
}

.inputImports{
    font-size: 12px;
    text-align: center;
    width: 90px;
    border-radius: 10px;
    border: rgb(112, 109, 109) solid 1px;
    padding: 3px;
}

.selectSupplier{
    width: 130px;
}



.filterPo{
    font-size: 12px;
    cursor: pointer;
}


@media (max-width:400px){
    .divBrunch{
        width: 200px;
        height: 18px;
        font-size:16px
    }
    .divFilters{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        margin-top: -15px;
    }
    .inputImports{
        width: 130px;
        padding: 3px;
    }


}






