/*---------------------tables---------------------*/
table{
    margin: auto;
    border-collapse: collapse;
}

thead{
    position: sticky;
    top:0;
}/*to leave titles fixed*/ 

.divTable{
    overflow-y: auto;
    width: fit-content;
    margin: auto;
}

.thCss{
    text-align: center;
    background-color: var(--color1);
    color: var(--color2);
    padding: 4px;
    font-size: 14px;
    font-weight: lighter;
    height: 1.5rem;
}

.thCss2{
    text-align: center;
    background-color: var(--color1);
    color: var(--color2);
    padding: 3px;
    font-size: 13px;
    font-weight: lighter;
    border: white solid 1px;
}

/*sizes*/
.thxxxs{
    width: 40px;
}

.thxxs{
    width: 50px;
}
.thxs{
    width: 75px;
}
.ths{
   width: 100px;
}
.thm{
    width: 150px;
}
.thl{
    width: 200px;
}
.thxl{
    width: 250px;
}
.thxxl{
    width: 300px;
}
.thxxxl{
    width: 350px;
}
.thxxxxl{
    width: 400px;
}

.thLeftBorder{
    border-top-left-radius: 15px;
}/*Add radius to left top border*/

.thRightBorder{
border-top-right-radius: 15px;
}/*Add radius to right top border*/

.thInfo{
    font-size: 12px;
    position: absolute;
    display: none;
    text-align: center;
}

.tableData{
    position: absolute;
    right: 6%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 10px;
}



/*------Tbody------*/
.tBody1{
    font-weight: lighter;
    padding: 7px 0px;
    font-size: 13px;
    text-align: center;
}

.tBody2{
    font-weight: lighter;
    padding: 7px 0px;
    font-size: 12px;
    text-align: center;
}

.tBodyEven{
    background-color: var(--color2) !important;
}/*background when row number is even*/

.tBodyOdd{
    background-color: var(--color10) !important;
}/*background when row number is odd*/

.allowedIcon{
    cursor: pointer;
}

.notAllowedIcon{
    color: rgb(159, 157, 157);
}

/*SPECIFIC*/
#currenciesTable{
    max-height: 380px; /*to avoid overflow, it depends on the website landscape*/
}

#suppliersTable{
    max-height: 470px; /*to avoid overflow, it depends on the website landscape*/
}

#pricesListsTable{
    max-height: 430px; /*to avoid overflow, it depends on the website landscape*/
}


