

/*------GENERALS------*/
th{
    font-size: 13px;
    text-align: center;
}

table{
    margin: auto;
    border-collapse: collapse;
}

thead{
    position: sticky;
    top:0;
}/*to leave titles fixed 

/*------divs conatining tables------*/
.divTable{
    max-height: 400px; /*to avoid overflow, it depends on the website landscape*/
    overflow-y: auto;
    width: fit-content;
    margin: auto;
    position: relative;
}

/*------Thead------*/
.theadXS{
    width: 35px;
    background-color: var(--color1);
    color: var(--color2);
    padding: 4px;
}/*XSmall size*/

.theadS{
    width: 75px;
    background-color: var(--color1);
    color: var(--color2);
    padding: 4px;
}/*Small size*/

.theadM{
    width: 85px;
    background-color: var(--color1);
    color: var(--color2);
    padding: 4px;
}/*Medium size*/

.theadL{
    width: 130px;
    background-color: var(--color1);
    color: var(--color2);
    padding: 4px;
}/*Large size*/

.theadXL{
    width: 150px;
    background-color: var(--color1);
    color: var(--color2);
    padding: 4px;
}/*XLarge size*/

.theadXXL{
    width: 250px;
    background-color: var(--color1);
    color: var(--color2);
    padding: 4px;
}/*XLarge size*/

.thLeftBorder{
    border-top-left-radius: 10px;
}/*Add radius to left top border*/

.thRightBorder{
border-top-right-radius: 10px;
}/*Add radius to right top border*/

.thTall{
    height: 25px;
}

/*------Tbody------*/


/*-----------SPECIFIC-----------*/
.thPo{
    position: relative;
}/*imports.ejs*/

.thData{
    position: relative;
}/*currencies.ejs - measurementUnits.ejs*/

.newPo{
    color:var(--color2);
    position: absolute;
    right: 17px;
    top: 12.5px;
    font-size: 14px;
    cursor: pointer;
}/*imports.ejs*/

.newPo:hover{
    color: var(--color7);
}

.newCurrency{
    color:var(--color2);
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 14px;
    cursor: pointer;
}/*currencies.ejs*/

.newCurrency:hover{
    color: var(--color7);
}

.newUser{
    color:var(--color2);
    position: absolute;
    right: 24px;
    top: 9px;
    font-size: 15px;
    cursor: pointer;
}/*users.ejs*/

.newMU{
    color:var(--color2);
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 14px;
    cursor: pointer;
}/*measurementUnits.ejs*/

.newMU:hover{
    color: var(--color7);
}

.newSupplier{
    color:var(--color2);
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 14px;
    cursor: pointer;
}/*suppliers.ejs*/

.newSupplier:hover{
    color: var(--color7);
}

.newItem{
    color:var(--color2);
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 15px;
    cursor: pointer;
}/*pricesLists.ejs*/

.newItem:hover{
    color: var(--color7);
}

.thIcon1{
    font-size: 12px;
    cursor: pointer;
}/*imports.ejs*/

#divCbxDutiesTarifs{
    display: flex;
    column-gap: 2px;
}