:root{
    --color1:#15A89D;
    --color2: #F5F5F5;
    --color3: #efeded;
    --color5: #e2dfdf;
    --color6:#d7dcdc;
}

.divTitles{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 15px;
}

.titleL{
    font-size: 23px;
    text-align: center;
}

.titleM{
    font-size: 18px;
    text-align: center;
}

.titleS{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

