:root{
    --color1:#15A89D;
    --color2: #F5F5F5;
    --color3: #efeded;
    --color5: #e2dfdf;
    --color6:#d7dcdc;
}

.titleS{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

