<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="mainTitle">
    PROVEEDORES
</div>

<!------GENERAL ACTIONS------>
<div class="divDGAs" id="dgasSuppliers">
    <div class="divDGA divDGAm" id="createSupplier">
        <i class="fa-regular fa-square-plus"></i>
        <div class="DGAinfoAside">
            Crear proveedor
        </div>        
    </div>
</div>

<!------MAIN CONTENT------>
<div class="divTable" id="suppliersTable">

    <table>
        <thead>
            <tr>
                <th class="thCss thl thLeftBorder" id="create">Proveedor</th>
                <th class="thCss thxl">Razón social</th>
                <th class="thCss thxxxl">Domicilio</th>
                <th class="thCss thm">Pais</th>
                <th class="thCss ths">Moneda</th>
                <th class="thCss ths">Costeo</th>
                <th class="thCss thxs thRightBorder"><i class="fa-regular fa-pen-to-square"></i></th>
            </tr>
            
        </thead>
        <tbody id="bodySuppliers"></tbody>
    </table>
</div>

<!----------LOADER---------->
<div class="loader" id="suppliersLoader"></div>

<!----------POPUPS---------->
<%- include('../../partials/okPopup') %>
<%- include('./suppliersCSPP') %>

<!----------SCRIPTS---------->
<script type="module" src="/js/data/suppliers/suppliers.js"></script>





