<div class="sidePopup" id="importDetailsPopup">

    <div class="">

        <div class="divClosePopup">
            <div class="closePopup" id="closeImportDetailPopup">X</div>
        </div>

        <div class="divTitles">
            <div class="titleL" id="titleImportDetail"></div>

            <div id="importDetailsSupplier" class="titleM"></div>
        </div>

        <div class="divImportData">
            <div class="importDataLine">                
                <div class="importData" id="status"></div>
                <div class="importData" id="reception"></div>
                <div class="importData" id="tc"></div>                   
            </div>
            <div class="importDataLine">
                <div class="importData" id="fob"></div>
                <div class="importData" id="cif"></div>
                <div class="importData" id="expense"></div>
                <div class="importData" id="cost"></div>
                <div class="importData" id="costVsFob"></div>
                             
            </div>
        </div>
        

        
        <div class="divTable">
            <table>
                <thead>
                    <tr>
                        <th class="theadM thLeftBorder">Item</th>
                        <th class="theadXL">Descripción</th>
                        <th class="theadS">Unidades</th>
                        <th class="theadM">Precio por unidad</th>
                        <th class="theadM">Costo por unidad</th>
                        <th class="theadM">Costo sobre el FOB %</th>
                        <th class="theadM">Costo estimado</th>
                        <th class="theadL thRightBorder">Costo real vs estimado %</th>
                    </tr>
                </thead>

                <tbody id="importDetailsBody" class=""></tbody>

            </table>

        </div>
    </div>
</div>