<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="mainTitle">
    FACTORES POR COEFICIENTE
</div>

<!------GENERAL ACTIONS------>
<div class="dgas dgas-m">
    <div class="dga dga-m" id="createCoeficientFactor">
        <i class="fa-solid fa-plus"></i>
        <div class="dgaInfo">
            Crear factor
        </div>        
    </div>
</div>

<!------MAIN CONTENT------>
<div class="divTable" id="factorsTable">

    <table>
        <thead>
            <tr>
                <th class="thCss thl thLeftBorder">Proveedor</th>
                <th class="thCss thm">Moneda</th>
                <th class="thCss thm">Factor de multiplicación</th>
                <th class="thCss thm">Margen de venta</th>
                <th class="thCss thxxxs thRightBorder">
                    <i class="fa-regular fa-pen-to-square icon"></i>
                </th>
            </tr>
            
        </thead>
        <tbody id="bodyCoeficientFactors"></tbody>
    </table>
</div>

<!----------LOADER---------->
<div class="loader" id="coeficientFactorsLoader"></div>

<!----------POPUPS---------->
<%- include('../../partials/okPopup') %>
<%- include('./coeficientFactorsCCFPP') %>


<!----------SCRIPTS---------->
<script type="module" src="/js/data/coeficientFactors/coeficientFactors.js"></script>

