<!----------Las changes popup---------->
<div class="pp" id="lcpp">

    <div class="ppContent ppContentHmWl" id="lcppContent">

        <div class="ppIcons">
            <div class="ppIcon1"><i class="fa-solid fa-circle-info"></i></div>
            <div class="ppClose1" id="lcppClose"><i class="fa-solid fa-rectangle-xmark ppCloseIcon"></i></div>
        </div>

        <div class="ppTitleS mbm" id="lcppTitle">MODIFICACIONES PENDIENTES</div>
        
        <div id="lcppLastChanges"></div>
        
    </div>
</div>


