<!----------Confirm popup---------->
<div class="pp" id="copp">
    
    <div class="ppContent ppContentHmWm" id="coppContent">

        <div class="ppIcons">
            <div class="ppIcon1"><i class="fa-regular fa-circle-question"></i></div>
            <div class="ppClose1" id="coppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="coppQuestion mtm mbl" id="coppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="coppAccept" class="button1 sButton">Aceptar</div>
        </div>
    </div>
</div>