
<div class="cConfirmPopup" id="confirmPopup">
    <div class="cConfirmContent">
        <div class="cConfirmText" id="confirmText"></div>
        <div class="cDivButtons">
            <button type="submit" class="cConfirmButtons" id="confirmButton">Confirmar</button>
            <div class="cConfirmButtons" id="cancelButton">Cancelar</div>
        </div>
    </div>
</div>
