
<div id="crudPopup" class="cEditPopup">
    <div class="cEditContent">
        <div class="cEditTitle" id="popupTitle"></div>
        <form action="" method="POST" id="formEditItem">
            
            <div id="divInputs"></div>            

            <div class="cEditDivButtons">
                <button class="cEditButtons" type="submit" id="deleteButton">Eliminar</button>
                <div class="cEditButtons" id="saveButton">Guardar</div>
                <div class="cEditButtons" id="cancelEditButton">Cancelar</div>
            </div>

            <%- include('./confirmPopup') %>

        </form>
        
    </div>
</div>


    


