<!----------ok popup---------->
<div class="errorpp" id="errorpp">
    <div class="errorppContent">
        <div class="errorppIcon"><i class="fa-regular fa-circle-xmark"></i></div>
        <div id="errorppText"></div>
    </div>
</div>