
<div class="cConfirmPopup" id="selectPopup">
    <div class="cConfirmContent">
        <div class="cConfirmTitle" id="selectText"></div>
        <form action="" method="POST" id="formSelect">
            <div class="cDivInputs" id="selectInputs"></div>
            <div class="cDivButtons">
                <div class="cConfirmButtons" id="confirmButton">Aceptar</div>
                <div class="cConfirmButtons" id="cancelButton">Cancelar</div>
            </div>
        </form>
    </div>
</div>