<!----------Create edit currency---------->
<div class="pp" id="cecpp">

    <div class="ppContent" id="cecppContent">

        <div class="ppIcons">
            <div class="ppIcon2"><i class="fa-regular fa-square-plus"></i></div>
            <div class="ppClose2" id="cecppClose"><i class="fa-solid fa-rectangle-xmark ppCloseIcon"></i></div>
        </div>

        <div class="ppTitleS mbl" id="cecppTitle"></div>       
        
        <div class="divInputsColumn">
            <div class="divInput">
                <label class="label3" id="cecppCurrencyLabel">Moneda</label>
                <input type="text" class="input1 il ipl" id="cecppCurrency" autocomplete="off" readonly>
                <div class="divError2" id="cecppCurrencyError"></div>
            </div>
            <div class="divInput mtm">
                <label class="label3" id="cecppExchangeLabel">Tasa de cambio</label>
                <input type="number" step="0.01" class="input1 il ipl" id="cecppExchange" autocomplete="off">
                <div class="divError2" id="cecppExchangeError">Debe completar el volúmen estándar</div>
            </div>
        </div>

        <div class="divButtonsRow mtl mbs">
            <div id="cecppEdit" class="button1 mButton">Editar</div>
        </div>
    </div>
</div>
