<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="mainTitle">
    MONEDAS
</div>

<!------MAIN CONTENT------>
<div class="divTable" id="currrenciesTable">

    <table>
        <thead>
            <tr>
                <th class="thCss thm thLeftBorder">Moneda</th>
                <th class="thCss thm">Tasa de cambio</th>
                <th class="thCss thxxs thRightBorder">
                    <i class="fa-regular fa-pen-to-square icon"></i>
                </th>
        </thead>
        <tbody id="bodyCurrencies"></tbody>
    </table>
</div>

<!----------LOADER---------->
<div class="loader" id="currenciesLoader"></div>

<!----------POPUPS---------->
<%- include('../../partials/okPopup') %>
<%- include('./currenciesCECPP') %>

<!----------SCRIPTS---------->
<script type="module" src="/js/data/currencies/currencies.js"></script>