<div class="sidePopup" id="popup">

    <div class="notVisible" id="idBrunch"><%= data.idBrunch %></div>

    <div class="divClosePopup">
        <div class="closePopup" id="close">X</div>
    </div>

    <div class="titleM" id="title"></div>

    <form action="/data/<%= data.idBrunch %>/create-mu" method="POST">

        <div class="popupContent">

            <div class="divInput">
                <label for="measurementUnit" class="label" id="muLabel">Unidad de medida</label>
                <input type="text" name="measurementUnit" class="input1 M" id="measurementUnit">
                <div class="divError M" id="muErrorText"></div>
            </div>

            <div class="divInput">
                <label for="unitsPerMU" class="label" id="unitsPerMUlabel">Unidades por UM</label>
                <input type="text" name="unitsPerMU" class="input1 M" id="unitsPerMU">
                <div class="divError M" id="unitsPerMUerrorText"></div>
            </div>            

            <div class="divButtonsColumn">
                <button type="submit" class="button1 mButton" id="acceptCreate">Guardar</button>
            </div>

        </div>

    </form>

</div>