<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="notVisible" id="idBrunch"><%= data.idBrunch %></div>

<div class="mainTitle">
    <div class="titleL">Comparativa de precios y costos</div>
</div>

<div class="content">
    
    <div class="divStatistics">

        <div class="divStatistic">

            <div class="titleM mtM mbM">Precios de compra</div>
            
        </div>

        <div class="divStatistic">

            <div class="titleM mtM mbM">Costo por item</div>
            
    </div>
</div>

<script type="module" src="/js/importHistory.js"></script>